* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.calc-body {
    width: 250px;
    height:300px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:10px;
}

.screen-body {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(3, 77, 3);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.screen {
    font-size: 30px;
}

.button-body {
    border: 1px solid rgb(74, 20, 175);
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-content: center;

  
}
  .button-body :nth-child(1) { order: 1; }
  .button-body :nth-child(2) { order: 5; }
  .button-body :nth-child(3) { order: 6; }
  .button-body :nth-child(4) { order: 7; }
  .button-body :nth-child(5) { order: 9; }
  .button-body :nth-child(6) { order: 10; }
  .button-body :nth-child(7) { order: 11; }
  .button-body :nth-child(8) { order: 13; }
  .button-body :nth-child(9) { order: 14; }
  .button-body :nth-child(10) { order: 15; }
  .button-body :nth-child(11) { order: 2; }
  .button-body :nth-child(12) { order: 3; }
  .button-body :nth-child(13) { order: 16; }
  .button-body :nth-child(14) { order: 12; }
  .button-body :nth-child(15) { order: 8; }
  .button-body :nth-child(16) { order: 4; }

button {
    text-align: center;
    width: 45px;
    height: 45px;
}

