* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-body {
    width: 250px;
    height:300px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:10px;
}

.screen-body {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(3, 77, 3);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.screen {
    font-size: 30px;
}

.button-body {
    border: 1px solid rgb(74, 20, 175);
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

button {
    text-align: center;
    width: 45px;
    height: 45px;
}